# Retrieve test data

In [25]:
import os
import zipfile


DATA_URL = 'https://public.pic.es/s/tOiGhyapptjxZxE/download'
RESOURCE_FOLDER = os.path.abspath(os.path.join(os.getcwd(), '..', 'resources', 'pandas'))
os.makedirs(RESOURCE_FOLDER, exist_ok=True)
PANDAS_ZIP_FILE = os.path.join(RESOURCE_FOLDER, 'pandas.zip')
print(RESOURCE_FOLDER)

/nfs/pic.es/user/t/torradeflot/PythonMasterIFAE/resources/pandas

In [26]:
!wget $DATA_URL -O $PANDAS_ZIP_FILE

--2022-10-07 13:19:41--  https://public.pic.es/s/tOiGhyapptjxZxE/download
Resolving public.pic.es (public.pic.es)... 193.109.175.227
Connecting to public.pic.es (public.pic.es)|193.109.175.227|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 62172663 (59M) [application/zip]
Saving to: ‘/nfs/pic.es/user/t/torradeflot/PythonMasterIFAE/resources/pandas/pandas.zip’

100%[======================================>] 62,172,663   100MB/s   in 0.6s

2022-10-07 13:19:41 (100 MB/s) - ‘/nfs/pic.es/user/t/torradeflot/PythonMasterIFAE/resources/pandas/pandas.zip’ saved [62172663/62172663]

In [27]:
with zipfile.ZipFile(PANDAS_ZIP_FILE, 'r') as zip_ref:
    zip_ref.extractall(RESOURCE_FOLDER)

# Official master's degree in High Energy Physics, Astrophysics and Cosmology

## <img width=400 src="https://raw.githubusercontent.com/pandas-dev/pandas/4a31802c42b3c1acab7dd47f59035e50510735d9/web/pandas/static/img/pandas.svg" alt="Pandas"/>


### The idea of this notebook is to show the power of working with pandas dataframes

## Motivation

We usually work with tabular data

We "should not handle them" with bash commands like: for, split, grep, awk, etc...
(but sometimes it is very useful to use both approches!)

And **pandas is a very nice tool** to handle this kind of data.

**Welcome to Pandas!**

## Definition of pandas:

New defition:

"pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language."

Previous definition?:

"Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive."

------------------------

It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. 

Additionally, it has the broader goal of becoming the most powerful and flexible open source data analysis / manipulation tool available in any language.

More information about pandas: <http://pandas.pydata.org/pandas-docs/stable/>

## Contents of the course:

- [Know your data](#know):
  - Dimensionality: Series or DataFrame
  - Index
  - Some examples
  - [Exercise 1](#exercise1): Selecting pandas structure


- [I/O](#io):
   - Reading: CSV, FITS, SQL
   - Writing: CSV
   - Advanced example: Reading and writing CSV files by chunks


- [Selecting and slicing](#selecting):
    - *loc.* & *iloc.*
    - Advanced example: Estimate a galaxy property for a subset of galaxies using boolean conditions
    - [Exercise 2](#exercise2): Estimate another galaxy property


- [Merge, join, and concatenate](#merging):
    - [Exercise 3](#exercise3): Generate a random catalog using the *concat* method
    - Example: Merging dataframes using the *merge* method


- [More functions](#functions):
    - Loop a dataframe (itertuples and iterows)
    - Sort
    - Sample
    - Reshape: pivot, stack, unstack, etc.



- [Caveats and technicalities](#caveats):
    - Floating point limitations
    - .values
    - FITS chunks
    - View or copy
    - Wrong input example

### Some useful information

- Ten minutes to pandas:

<https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html>

- Pandas cookbook:

<https://pandas.pydata.org/pandas-docs/stable/user_guide/cookbook.html>

- Nice pandas course:

<https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python#gs.=B6Dr74>

- Multidimensional dataframes, xarray: 

<http://xarray.pydata.org/en/stable/>

- Tips & Tricks

<https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/>

<a id=know></a>
## Know your data

Very important to (perfectly) know your data: structure, data type, index, relation, etc.

### Dimensionality:
    - 1-D: Series; e.g.
        - Solar planets: [Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, Neptune]
        - Set of astronomical objects and when they were observed:
            [[NGC1952, 2012-05-01],
             [NGC224, 2013-01-23],
             [NGC5194, 2014-02-13]]
    - 2-D: DataFrame; e.g (more business oriented):
        - 3 months of sales information for 3 fictitious companies:
            sales = [{'account': 'Jones LLC', 'Jan': 150, 'Feb': 200, 'Mar': 140},
                     {'account': 'Alpha Co',  'Jan': 200, 'Feb': 210, 'Mar': 215},
                     {'account': 'Blue Inc',  'Jan': 50,  'Feb': 90,  'Mar': 95 }]

### Index
- It is the value (~key) we use as a reference for each element. (Note: It does not have to be unique)

- Most of the data contain at least one index

In [28]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

# Import libraries

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Series definition
Series is a one-dimensional labeled array capable of holding any data type

The axis labels are collectively referred to as the index

This is the basic idea of how to create a Series dataframe:

**s = pd.Series(data, index=index)**

where data can be:
- list
- ndarray
- python dictionary
- scalar
and index is a list of axis labels

#### Create a Series array from a list
If no index is passed, one will be created having values [0, ..., len(data) - 1]

In [30]:
solar_planets = [
    'Mercury',
    'Venus',
    'Earth','Mars','Jupiter','Saturn','Uranus','Neptune']

In [31]:
splanets = pd.Series(solar_planets)

In [34]:
# Tips and tricks
# To access the Docstring for quick reference on syntax use ? before:
?pd.Series

Init signature:
pd.Series(
    data=None,
    index=None,
    dtype: 'Dtype | None' = None,
    name=None,
    copy: 'bool' = False,
    fastpath: 'bool' = False,
) -> 'None'
Docstring:
One-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object
supports both integer- and label-based indexing and provides a host of
methods for performing operations involving the index. Statistical
methods from ndarray have been overridden to automatically exclude
missing data (currently represented as NaN).

Operations between Series (+, -, /, \*, \*\*) align values based on their
associated index values-- they need not be the same length. The result
index will be the sorted union of the two indexes.

Parameters
----------
data : array-like, Iterable, dict, or scalar value
    Contains data stored in Series. If data is a dict, argument order is
    maintained.
index : array-like or Index (1d)
    Values must be hashable and have the same length as `data`.
    Non-unique index values are allowed. Will default to
    RangeIndex (0, 1, 2, ..., n) if not provided. If data is dict-like
    and index is None, then the keys in the data are used as the index. If the
    index is not None, the resulting Series is reindexed with the index values.
dtype : str, numpy.dtype, or ExtensionDtype, optional
    Data type for the output Series. If not specified, this will be
    inferred from `data`.
    See the :ref:`user guide <basics.dtypes>` for more usages.
name : str, optional
    The name to give to the Series.
copy : bool, default False
    Copy input data. Only affects Series or 1d ndarray input. See examples.

Notes
-----
Please reference the :ref:`User Guide <basics.series>` for more information.

Examples
--------
Constructing Series from a dictionary with an Index specified

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['a', 'b', 'c'])
>>> ser
a   1
b   2
c   3
dtype: int64

The keys of the dictionary match with the Index values, hence the Index
values have no effect.

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['x', 'y', 'z'])
>>> ser
x   NaN
y   NaN
z   NaN
dtype: float64

Note that the Index is first build with the keys from the dictionary.
After this the Series is reindexed with the given Index values, hence we
get all NaN as a result.

Constructing Series from a list with `copy=False`.

>>> r = [1, 2]
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
[1, 2]
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `copy` of
the original data even though `copy=False`, so
the data is unchanged.

Constructing Series from a 1d ndarray with `copy=False`.

>>> r = np.array([1, 2])
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
array([999,   2])
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `view` on
the original data, so
the data is changed as well.
File:           ~/.conda/envs/python_master_ifae_22/lib/python3.9/site-packages/pandas/core/series.py
Type:           type
Subclasses:     SubclassedSeries

In [35]:
splanets

0    Mercury
1      Venus
2      Earth
3       Mars
4    Jupiter
5     Saturn
6     Uranus
7    Neptune
dtype: object

In [36]:
splanets.index

RangeIndex(start=0, stop=8, step=1)

#### Create a Series array from a numpy array
If data is an ndarray, index must be the same length as data. 
If no index is passed, one will be created having values [0, ..., len(data) - 1]

- Not including index:

In [37]:
np.random.randn(5)

array([-0.87987735,  1.74644369, -0.58348505,  0.05135562,  0.86922177])

In [38]:
s1 = pd.Series(np.random.randn(5))

In [39]:
s1

0    0.144560
1    0.856981
2   -0.975631
3   -0.336640
4   -0.561078
dtype: float64

In [40]:
s1.index

RangeIndex(start=0, stop=5, step=1)

- Including index

In [41]:
s2 = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

In [42]:
s2

a   -0.598613
b   -0.015291
c    1.129633
d    0.598957
e    0.205001
dtype: float64

In [43]:
s2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

- From scalar value

If data is a scalar value, an index must be provided

The value will be repeated to match the length of index

In [44]:
s3 = pd.Series(5., index=['a', 'b', 'c', 'd', 'e'])

In [45]:
s3

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [46]:
s3.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

#### Create a Series array from a python dictionary

In [47]:
d = {'a' : 0., 'b' : 1., 'c' : 2.}

In [48]:
sd = pd.Series(d)

In [49]:
sd

a    0.0
b    1.0
c    2.0
dtype: float64

### DataFrame definition

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.

You can think of it **like a spreadsheet or SQL table, or a dict of Series objects**. 

It is generally the most commonly used pandas object. 

Like Series, DataFrame accepts many different kinds of input:

- Dict of 1D ndarrays, lists, dicts, or Series
- 2-D numpy.ndarray
- Structured or record ndarray
- A Series
- Another DataFrame

#### From a list of dictionaries

In [50]:
sales = [{'account': 'Jones LLC', 'Jan': 150, 'Feb': 200, 'Mar': 140},
                 {'account': 'Alpha Co',  'Jan': 200, 'Feb': 210, 'Mar': 215},
                 {'account': 'Blue Inc',  'Jan': 50,  'Feb': 90,  'Mar': 95 }]

In [51]:
sales

[{'account': 'Jones LLC', 'Jan': 150, 'Feb': 200, 'Mar': 140},
 {'account': 'Alpha Co', 'Jan': 200, 'Feb': 210, 'Mar': 215},
 {'account': 'Blue Inc', 'Jan': 50, 'Feb': 90, 'Mar': 95}]

In [52]:
df = pd.DataFrame(sales)

In [56]:
df

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

Notice that the dataframe was pretty printed. The dataframes can be exported to different formats

In [59]:
json_df = df.to_json()
md_df = df.to_markdown()
csv_df = df.to_csv()
html_df = df.to_html()
print('\n'.join(['JSON', json_df,
                 'Markdown', md_df,
                 'CSV', csv_df,
                 'HTML', html_df]))

JSON
{"account":{"0":"Jones LLC","1":"Alpha Co","2":"Blue Inc"},"Jan":{"0":150,"1":200,"2":50},"Feb":{"0":200,"1":210,"2":90},"Mar":{"0":140,"1":215,"2":95}}
Markdown
|    | account   |   Jan |   Feb |   Mar |
|---:|:----------|------:|------:|------:|
|  0 | Jones LLC |   150 |   200 |   140 |
|  1 | Alpha Co  |   200 |   210 |   215 |
|  2 | Blue Inc  |    50 |    90 |    95 |
CSV
,account,Jan,Feb,Mar
0,Jones LLC,150,200,140
1,Alpha Co,200,210,215
2,Blue Inc,50,90,95

HTML
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>account</th>
      <th>Jan</th>
      <th>Feb</th>
      <th>Mar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Jones LLC</td>
      <td>150</td>
      <td>200</td>
      <td>140</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Alpha Co</td>
      <td>200</td>
      <td>210</td>
      <td>215</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Blue Inc</td>
      <td>50</td>
      <td>90</td>
      <td>95</td>
    </tr>
  </tbody>
</table>

In [62]:
from IPython.display import Markdown, HTML

In [60]:
display(Markdown(md_df))

|    | account   |   Jan |   Feb |   Mar |
|---:|:----------|------:|------:|------:|
|  0 | Jones LLC |   150 |   200 |   140 |
|  1 | Alpha Co  |   200 |   210 |   215 |
|  2 | Blue Inc  |    50 |    90 |    95 |

In [63]:
display(HTML(html_df))

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   account  3 non-null      object
 1   Jan      3 non-null      int64
 2   Feb      3 non-null      int64
 3   Mar      3 non-null      int64
dtypes: int64(3), object(1)
memory usage: 224.0+ bytes

In [65]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [66]:
df = df.set_index('account')

In [67]:
df

           Jan  Feb  Mar
account
Jones LLC  150  200  140
Alpha Co   200  210  215
Blue Inc    50   90   95

#### From dict of Series or dicts

In [68]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
     'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

In [69]:
df = pd.DataFrame(d)

In [70]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   one     3 non-null      float64
 1   two     4 non-null      float64
dtypes: float64(2)
memory usage: 96.0+ bytes

In [72]:
pd.DataFrame(d, index=['d', 'b', 'a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [73]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [74]:
df.columns

Index(['one', 'two'], dtype='object')

In [75]:
dir(df)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'one',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'two',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

#### From dict of ndarrays / lists
The ndarrays must all be the same length. 

If an index is passed, it must clearly also be the same length as the arrays. 

If no index is passed, the result will be range(n), where n is the array length.

In [76]:
d = {'one' : [1., 2., 3., 4.], 'two' : [4., 3., 2., 1.]}

In [77]:
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [78]:
pd.DataFrame(d, index=['a', 'b', 'c', 'd'])

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

#### From structured or record array
The ndarrays must all be the same length. If an index is passed, it must clearly also be the same length as the arrays. 

If no index is passed, the result will be range(n), where n is the array length.

In [79]:
data = np.random.random_sample((5, 5))

In [80]:
data

array([[0.58264609, 0.03202579, 0.58131927, 0.92422048, 0.17294641],
       [0.17211623, 0.82636616, 0.60566467, 0.2865471 , 0.14515252],
       [0.54980065, 0.44916299, 0.77741911, 0.26135623, 0.30057743],
       [0.91564286, 0.17972635, 0.9725324 , 0.76132259, 0.99795028],
       [0.87593852, 0.5053235 , 0.89832937, 0.06267812, 0.95254968]])

In [81]:
df = pd.DataFrame(data)

In [82]:
df

          0         1         2         3         4
0  0.582646  0.032026  0.581319  0.924220  0.172946
1  0.172116  0.826366  0.605665  0.286547  0.145153
2  0.549801  0.449163  0.777419  0.261356  0.300577
3  0.915643  0.179726  0.972532  0.761323  0.997950
4  0.875939  0.505324  0.898329  0.062678  0.952550

In [83]:
# Add index
df = pd.DataFrame(data,index = ['a','b','c','d','e'])

In [84]:
df

          0         1         2         3         4
a  0.582646  0.032026  0.581319  0.924220  0.172946
b  0.172116  0.826366  0.605665  0.286547  0.145153
c  0.549801  0.449163  0.777419  0.261356  0.300577
d  0.915643  0.179726  0.972532  0.761323  0.997950
e  0.875939  0.505324  0.898329  0.062678  0.952550

In [85]:
# Add column names
df = pd.DataFrame(data, index = ['a','b','c','d','e'], 
                  columns = ['ra', 'dec','z_phot','z_true','imag'])

In [86]:
df

         ra       dec    z_phot    z_true      imag
a  0.582646  0.032026  0.581319  0.924220  0.172946
b  0.172116  0.826366  0.605665  0.286547  0.145153
c  0.549801  0.449163  0.777419  0.261356  0.300577
d  0.915643  0.179726  0.972532  0.761323  0.997950
e  0.875939  0.505324  0.898329  0.062678  0.952550

#### From a list of dicts

In [87]:
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]

In [88]:
pd.DataFrame(data2)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [89]:
pd.DataFrame(data2, index=['first', 'second'])

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [90]:
pd.DataFrame(data2, columns=['a', 'b'])

   a   b
0  1   2
1  5  10

<a id=exercise1></a>
### Exercise 1: Selecting pandas structure
Given a few galaxies with some properties ['id', 'ra', 'dec', 'magi'], choose which pandas structure to use and its index:

In [91]:
#Few galaxies with some properties: id, ra, dec, magi
galaxies = [
    {'id' : 1, 'ra' : 4.5, 'dec' : -55.6, 'magi' : 21.3},
    {'id' : 3, 'ra' : 23.5, 'dec' : 23.6, 'magi' : 23.3},
    {'id' : 25, 'ra' : 22.5, 'dec' : -0.3, 'magi' : 20.8},
    {'id' : 17, 'ra' : 33.5, 'dec' : 15.6, 'magi' : 24.3}   
]

In [96]:
# %load -r 1-19 solutions/solution_pandas.py

      ra   dec  magi
id
1    4.5 -55.6  21.3
3   23.5  23.6  23.3
25  22.5  -0.3  20.8
17  33.5  15.6  24.3

<a id=io></a>
### I/O
### Reading from different sources into a DataFrame
- Most of the times any study starts with an **input file** containing some data rather than having a python list or dictionary.

- Here we present three different data sources and how to read them: two file formats (**CSV** and **FITS**) and a **database** connection.

- **Advanced**: More and more frequently the amount of data to handle is larger and larger (Big Data era) and therefore files are huge. This is why we strongly recommend to always program by chunks (sometimes it is mandatory and also it is not straight forward to implement).

#### - From a CSV (Comma Separated Value) file:

<https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html>

#### Reading the full catalog at once (if the file is not very large)

- CSV file created using the following query (1341.csv.bz2):

```
SELECT unique_gal_id, ra_gal, dec_gal, z_cgal, z_cgal_v, lmhalo, (mr_gal - 0.8 * (atan(1.5 * z_cgal)- 0.1489)) AS abs_mag, gr_gal AS color, (des_asahi_full_i_true - 0.8 * (atan(1.5 * z_cgal)- 0.1489)) AS app_mag FROM micecatv2_0_view TABLESAMPLE (BUCKET 1 OUT OF 512)
```

In [ ]:
filename = '../resources/galaxy_sample.csv'

In [ ]:
!head -20 ../resources/galaxy_sample.csv

- CSV.BZ2 (less storage, slower when reading because of decompression)

In [ ]:
filename_bz2 = '../resources/galaxy_sample.csv.bz2'

In [ ]:
!head ../resources/galaxy_sample.csv.bz2

#### Reading the full catalog at once (if the file is not very large)

In [ ]:
# Field index name (known a priori from the header or the file description)
unique_gal_id_field = 'unique_gal_id'

In [ ]:
%%time
galaxy_sample = pd.read_csv(
    filename, 
    sep=',', 
    index_col = unique_gal_id_field, 
    comment='#', 
    na_values = '\\N'
)

In [ ]:
?pd.read_csv

%%time meaning

https://stackoverflow.com/questions/48202900/what-does-these-parameters-mean-in-jupyter-notebook-when-i-input-time

In [ ]:
galaxy_sample.head()

In [ ]:
galaxy_sample.tail()

- DataFrame.describe:

Generates descriptive statistics that summarize the central tendency, dispersion and shape of a dataset’s distribution, excluding NaN values.

In [ ]:
galaxy_sample.describe()

In [ ]:
galaxy_sample.info()

In [ ]:
%%time
galaxy_sample_bz2 = pd.read_csv(
    filename_bz2, 
    sep=',', 
    index_col = unique_gal_id_field, 
    comment='#', 
    na_values = r'\N'
)

In [ ]:
galaxy_sample_bz2.head()

In [ ]:
galaxy_sample_bz2.tail()

In [ ]:
galaxy_sample.dtypes

#### [FITS file](https://fits.gsfc.nasa.gov/):

- Pandas does not read directly FITS files so it is necessary to make some "convertion"

- We have found 2 different approaches:
 - [Table](http://docs.astropy.org/en/stable/io/fits/usage/table.html) method from astropy [pyfits](https://pythonhosted.org/pyfits/)
 - fitsio (see "Caveats and technicalities" section below)

- Not easy to read it by chunks (see also "Caveats and technicalities" section below)

- Note: we strongly recommend to use CSV.BZ2!

#### Using astropy (or pyfits)

- This method does not support "by chunks" and therefore you have to read it all at once

In [ ]:
from astropy.table import Table

FITS file created using the same query as the CSV file:

In [ ]:
filename = '../resources/galaxy_sample.fits'

In [ ]:
#?Table.read()

In [ ]:
data = Table.read(filename)

In [ ]:
type(data)

In [ ]:
dir(data)

In [ ]:
df = data.to_pandas()
#df = pd.DataFrame(data)

In [ ]:
df.head()

In [ ]:
df = df.set_index('unique_gal_id')

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.values.dtype

In [ ]:
df.info()

#### - From Database:

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_sql.html

In [ ]:
# For PostgreSQL access
from sqlalchemy.engine import create_engine
# Text wrapping
import textwrap

In [ ]:
# Database configuration parameters
#db_url = '{scheme}://{user}:{password}@{host}/{database}'
db_url = 'sqlite:///../resources/pandas.sqlite'

sql_sample = textwrap.dedent("""\
SELECT *
FROM micecatv1
WHERE ABS(ra_mag-ra) > 0.05
""")

index_col = 'id'

In [ ]:
# Create database connection
engine = create_engine(db_url)
df = pd.read_sql(sql_sample, engine,index_col = 'id')

In [ ]:
df.head()

#### Write to csv file:

In [ ]:
outfile = '../resources/micecatv1_sample1.csv'

In [ ]:
with open(outfile, 'w') as f_out:
    df.to_csv(f_out,
              columns = ['ra', 'dec','ra_mag','dec_mag'],
              index=True,
              header=True
             )

In [ ]:
!head ../resources/micecatv1_sample1.csv

#### Advanced example: Reading and writing by chunks

In [ ]:
filename = '../resources/galaxy_sample.csv'
outfile = '../resources/galaxy_sample_some_columns.csv'

In [ ]:
# chunk size
gal_chunk = 100000

In [ ]:
# Field index name (known a priori from the header or the file description)
unique_gal_id_field = 'unique_gal_id'

- Opening file with the *with* method

- Creating a file object using [read_csv](<https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html>) method

- Looping by chunks using enumerate in order to also have the chunk number

In [ ]:
with open(filename, 'r') as galaxy_fd, open (outfile, 'w') as f_out:
    galaxy_sample_reader = pd.read_csv(
        galaxy_fd, 
        sep=',', 
        index_col = unique_gal_id_field, 
        comment='#', 
        na_values = '\\N', 
        chunksize=gal_chunk
    )
    for chunk, block in enumerate(galaxy_sample_reader):
        print(chunk)
        # In order not to write n chunk times the header (HELP PAU!)
        block.to_csv(f_out, 
            columns = ['ra_gal','dec_gal','z_cgal_v'], 
            index=True, 
            header= chunk==0, 
            mode='a'
       )

In [ ]:
type(block)

In [ ]:
chunk

In [ ]:
block.head()

In [ ]:
block.tail(3)

- DataFrame *plot* method (just for curiosity!)

In [ ]:
# DataFrame plot method
%matplotlib inline
#import matplotlib.pyplot as plt
block['lmhalo'].plot.hist(bins=100, logy = True)
#plt.show()

<a id=selecting></a>
### SELECTING AND SLICING

- The idea of this section is to show how to slice and get and set subsets of pandas objects

- The basics of indexing are as follows:

| Operation                      | Syntax           | Result        |
|--------------------------------|------------------|---------------|
| Select column                  | df[column label] | Series        |
| Select row by index            | df.loc[index]    | Series        |
| Select row by integer location | df.iloc[pos]     | Series        |
| Slice rows                     | df[5:10]         | DataFrame     |
| Select rows by boolean vector  | df[bool_vec]     | DataFrame     |

In [ ]:
%%time
# Same dataframe as before
filename='../resources/galaxy_sample.csv.bz2'
galaxy_sample = pd.read_csv(
    filename, 
    sep=',', 
    index_col = unique_gal_id_field, 
    comment='#', 
    na_values = r'\N'
)

In [ ]:
galaxy_sample.head()

In [ ]:
len(galaxy_sample)

- Select a column

In [ ]:
galaxy_sample['ra_gal'].head()

In [ ]:
type(galaxy_sample['dec_gal'])

In [ ]:
galaxy_sample[['ra_gal','dec_gal','lmhalo']].head()

- Select a row by index

In [ ]:
galaxy_sample.loc[28581888]

In [ ]:
type(galaxy_sample.loc[28581888])

- Select a row by integer location

In [ ]:
galaxy_sample.iloc[0]

In [ ]:
type(galaxy_sample.iloc[0])

- Slice rows

In [ ]:
galaxy_sample.iloc[3:7]

In [ ]:
galaxy_sample[3:7]

In [ ]:
type(galaxy_sample.iloc[3:7])

- Select rows by boolean vector: 

The operators are: | for or, & for and, and ~ for not. These must be grouped by using parentheses.

In [ ]:
# Boolean vector
(galaxy_sample['ra_gal'] < 45).tail()

In [ ]:
type(galaxy_sample['ra_gal'] < 45)

In [ ]:
galaxy_sample[galaxy_sample['ra_gal'] > 45].head()

In [ ]:
# redshift shell
galaxy_sample[
    (galaxy_sample.z_cgal <= 0.2) | 
    (galaxy_sample.z_cgal >= 1.0)].head()

In [ ]:
# redshift shell
galaxy_sample[
    (galaxy_sample.z_cgal <= 0.2) |
    (galaxy_sample.z_cgal >= 1.0)].head()

In [ ]:
galaxy_sample[(galaxy_sample.z_cgal <= 1.0) 
              & (galaxy_sample.index.isin([6686720,13615360,3231232]))]

In [ ]:
galaxy_sample[(galaxy_sample['ra_gal'] < 1.) 
              & (galaxy_sample['dec_gal'] < 1.)
             ][['ra_gal','dec_gal']].head()

### Recap:
- loc works on labels in the index.
- iloc works on the positions in the index (so it only takes integers).

### Advanced example: estimate the size of the disk (*disk_length*) for a set of galaxies

- In this exercise we are going to use some of the previous examples. 
- Also we are going to introduce how to add a column and some other concepts

    - We split the galaxies into two different populations, Ellipticals and Spirals, depending on the their color and absolute magnitude:
        ```
         if color - 0.29 + 0.03 * abs_mag < 0 then Spiral
         else then Elliptical
        ```

    - How many galaxies are elliptical or spirals?

    - Elliptical galaxies do not have any disk (and therefore disk_length = 0).

    - The disk_length for spiral galaxies follows a normal distribution with mean = 0 and sigma = 0.15 (in arcsec). In addition, the minimum disk_length for a spiral galaxy is 1.e-3.

In [ ]:
galaxy_sample.tail(10)

In [ ]:
len(galaxy_sample)

In [ ]:
# Splitting the galaxies
# Boolean mask
has_disk_mask = (galaxy_sample['color']-0.29+0.03*galaxy_sample['abs_mag'] < 0)

In [ ]:
has_disk_mask.tail(10)

In [ ]:
print (len(has_disk_mask))
print (type(has_disk_mask))

In [ ]:
# Counting how many spirals
n_spiral = has_disk_mask.sum()
n_spiral

In [ ]:
# Counting how many ellipticals
n_elliptical = (~has_disk_mask).sum()
n_elliptical

In [ ]:
galaxy_sample[has_disk_mask].count()

In [ ]:
galaxy_sample['new_column'] = 0.4

In [ ]:
galaxy_sample.head()

In [ ]:
galaxy_sample[has_disk_mask]['hubble_type'] = 'Spiral'

In [ ]:
# It did not add any column! It was working in a view!
galaxy_sample.tail(5)

In [ ]:
# This is the proper way of doing it if one wants to add another column
galaxy_sample.loc[has_disk_mask, 'hubble_type'] = 'Spiral'

In [ ]:
galaxy_sample.loc[~has_disk_mask, 'hubble_type'] = 'Elliptical'

In [ ]:
galaxy_sample.tail(5)

In [ ]:
galaxy_sample['hubble_type'].values.dtype

In [ ]:
# We can use the numpy where method to do the same:
galaxy_sample['color_type'] = np.where(has_disk_mask, 'Blue', 'Red')

In [ ]:
galaxy_sample.tail(5)

In [ ]:
# The proper way would be to use a boolean field
galaxy_sample['has_disk'] = has_disk_mask

In [ ]:
galaxy_sample.tail(5)

In [ ]:
galaxy_sample.loc[~has_disk_mask, 'disk_length'] = 0.

In [ ]:
galaxy_sample.loc[has_disk_mask, 'disk_length'] = np.fabs(
                np.random.normal(
                    0., scale=0.15, size=n_spiral
                )
            )

In [ ]:
galaxy_sample['disk_length'].values

## DO NOT LOOP THE PANDAS DATAFRAME IN GENERAL!

In [ ]:
galaxy_sample.tail(5)

In [ ]:
# Minimum value for disk_length for spirals
dl_min = 1.e-4;

In [ ]:
disk_too_small_mask = has_disk_mask & (galaxy_sample['disk_length'] < dl_min)

In [ ]:
disk_too_small_mask.sum()

In [ ]:
galaxy_sample.loc[disk_too_small_mask, 'disk_length'].head()

In [ ]:
galaxy_sample.loc[disk_too_small_mask, 'disk_length'] = dl_min

In [ ]:
galaxy_sample.loc[disk_too_small_mask, 'disk_length'].head()

In [ ]:
galaxy_sample.tail(5)

In [ ]:
len(galaxy_sample)

<a id=exercise2></a>
### Exercise 2: Estimate another galaxy property

- What is the mean value and the standard deviation of the *disk_length* for spiral galaxies (Tip: use the .mean() and .std() methods)

- Estimate the bulge_length for elliptical galaxies. The bulge_length depends on the apparent magnitude in the following way:
    
    bulge_length = exp(-1.145 - 0.269 * (app_mag - 23.))
    
- How many galaxies have bulge_lenth > 1.0?  

- In our model the maximum bulge_length for an elliptical galaxy is 0.5 arcsec.

- What is the mean value and the standard deviation of the *bulge_length* for elliptical galaxies. And for ellipticals with absolute magnitude brighter than -20?

In [ ]:
# %load -r 20-102 solutions/solution_pandas.py

<a id=merging></a>
### Merge, join, and concatenate

<https://pandas.pydata.org/pandas-docs/stable/merging.html>

- pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

- *concat* method:
```
pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
          keys=None, levels=None, names=None, verify_integrity=False,
          copy=True)
```

In [ ]:
df1 = pd.DataFrame(
    {'A': ['A0', 'A1', 'A2', 'A3'],
     'B': ['B0', 'B1', 'B2', 'B3'],
     'C': ['C0', 'C1', 'C2', 'C3'],
     'D': ['D0', 'D1', 'D2', 'D3']},
    index=[0, 1, 2, 3]
)

In [ ]:
df2 = pd.DataFrame(
    {'A': ['A4', 'A5', 'A6', 'A7'],
     'B': ['B4', 'B5', 'B6', 'B7'],
     'C': ['C4', 'C5', 'C6', 'C7'],
     'D': ['D4', 'D5', 'D6', 'D7']},
    index=[4, 5, 6, 7]
)

In [ ]:
df3 = pd.DataFrame(
    {'A': ['A8', 'A9', 'A10'],
     'B': ['B8', 'B9', 'B10'],
     'C': ['C8', 'C9', 'C10']},
    index=[8, 9, 10]
)

In [ ]:
df1

In [ ]:
df3

In [ ]:
df2

In [ ]:
frames = [df1, df2, df3]

In [ ]:
frames

In [ ]:
type(frames)

In [ ]:
result = pd.concat(frames)
result

In [ ]:
result

In [ ]:
# Multiindex
result = pd.concat(frames, keys=['x', 'y','z'])

In [ ]:
result

In [ ]:
result.index

In [ ]:
result.loc['y']

In [ ]:
# I changed the columns!
df4 = pd.DataFrame(
    {'B': ['B2', 'B3', 'B6', 'B7'],
     'D': ['D2', 'D3', 'D6', 'D7'],
     'F': ['F2', 'F3', 'F6', 'F7']},
    index=[2, 3, 6, 7]
)

In [ ]:
df4

In [ ]:
df1

In [ ]:
result = pd.concat([df1, df4], sort=False)
result

In [ ]:
result = pd.concat([df1, df4], axis=1)
result

In [ ]:
result = pd.concat([df1, df4], axis=1, join='inner')
result

- Using *append* method:

In [ ]:
df1

In [ ]:
df2

In [ ]:
result = df1.append(df2)
result

In [ ]:
df1

In [ ]:
df4

In [ ]:
result = df1.append(df4, sort=False)
result

In [ ]:
result = pd.concat([df1,df4], sort=False)
result

- Note: Unlike list.append method, which appends to the original list and returns nothing, append here does not modify df1 and returns its copy with df2 appended.

In [ ]:
result = pd.concat([df1,df4], sort=False, ignore_index=True)
result

- This is also a valid argument to DataFrame.append:

In [ ]:
result = df1.append(df4, sort = False, ignore_index = True)
result

- Mixing dimensions

In [ ]:
df1

In [ ]:
s1 = pd.Series(['X0', 'X1', 'X2', 'X3'], name='X')
s1

In [ ]:
result = pd.concat([s1,df1])
result

In [ ]:
result = pd.concat([df1,s1], axis = 1)
result

In [ ]:
s2 = pd.Series(['_0', '_1', '_2', '_3'])

In [ ]:
result = pd.concat([df1,s2,s2,s2], axis = 1)
result

<a id=exercise3></a>
### Exercise 3: Generate a random catalog using concat method

- In this exercise we will use the concat method and show a basic example of multiIndex.

- Given a subset of a few galaxies with the following properties ['halo_id', 'gal_id' ,'ra', 'dec', 'z', 'abs_mag'], create a random catalog with 50 times more galaxies than the subset keeping the properties of the galaxies but placing them randomly in the first octant of the sky. 

- The index of each galaxy is given by the tuple [halo_id, gal_id]

In [ ]:
data =  [
    # halo_id, gal_id, ra, dec, z, abs_mag'
    [1, 1, 21.5, 30.1, 0.21, -21.2],
    [1, 2, 21.6, 29.0, 0.21, -18.3],
    [1, 3, 21.4, 30.0, 0.21, -18.5],
    [2, 1, 45.0, 45.0, 0.42, -20.4],
    [3, 1, 25.0, 33.1, 0.61, -21.2],
    [3, 2, 25.1, 33.2, 0.61, -20.3]
]

In [ ]:
# %load -r 103-145 solutions/solution_pandas.py

#### Merge method: Database-style DataFrame joining/merging:

- pandas has full-featured, high performance in-memory join operations idiomatically very similar to relational databases like SQL. These methods perform significantly better (in some cases well over an order of magnitude better) than other open source implementations (like base::merge.data.frame in R). The reason for this is careful algorithmic design and internal layout of the data in DataFrame

- See the [cookbook](https://pandas.pydata.org/pandas-docs/stable/cookbook.html) for some advanced strategies

- Users who are familiar with SQL but new to pandas might be interested in a [comparison with SQL](https://pandas.pydata.org/pandas-docs/stable/comparison_with_sql.html#compare-with-sql-join)

```
pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False)
```

### Example: Merging dataframes using the merge method (thanks Nadia!)

- Goal: build a dataframe merging 2 different dataframes with complementary information, through the relation given by a third dataframe.

    - df_stars contains information of stars magnitudes per sdss_star_id and per *filter*:
        - ['sdss_star_id', 'filter', 'expected_mag', 'expected_mag_err']
        - Note, the file is "somehow" corrupted and entries are duplicate several times
        - Unique entries are characterized by *sdss_star_id* and *filter*
    - df_spectra contains information of star *flux* per *band* (== *filter*) and per *spec_id* (!= *sdss_star_id*):
        - ['spec_id', 'band', 'flux', 'flux_err']
        - Unique entries are characterized by *spec_id* and *band*
    - df_spec_IDs allows to make the correspondence between *sdss_star_id* (== *objID*) and *spec_id* (== *specObjID*):
        - ['objID', 'specObjID']
        - Unique entries are characterized by *objID*

In [ ]:
star_filename = '../resources/df_star.ssv'
spectra_filename = '../resources/df_spectra.ssv'
starid_specid_filename = '../resources/df_starid_specid.ssv'

In [ ]:
df_spectra = pd.read_csv(spectra_filename, index_col=['spec_id', 'band'], sep = ' ')
df_spectra.head(41)

In [ ]:
df_starid_specid = pd.read_csv(starid_specid_filename, sep=' ')
df_starid_specid.head(5)

In [ ]:
# Given that the file is somehow corrupted we open it without defining any index
df_star = pd.read_csv(star_filename, sep=' ')
df_star.head(10)

In [ ]:
df_star[(df_star['sdss_star_id'] == 1237653665258930303) & (df_star['filter'] == 'NB455')]

In [ ]:
# Drop duplicates:
df_star.drop_duplicates(subset = ['sdss_star_id', 'filter'], inplace= True)

In [ ]:
df_star[(df_star['sdss_star_id'] == 1237653665258930303) & (df_star['filter'] == 'NB455')]

In [ ]:
df_starid_specid.head(5)

- We are going to unset the index and rename the columns in order to use the "on" argument:

In [ ]:
df_spectra.reset_index(inplace = True)
df_spectra.head()

In [ ]:
df_spectra.rename(columns={'band': 'filter'}, inplace = True)
df_spectra.head()

In [ ]:
df_starid_specid.rename(columns={'objID':'sdss_star_id', 'specObjID':'spec_id'}, inplace = True)
df_starid_specid.head()

- Now we have everything ready to make the JOINs

In [ ]:
df_star_merged = pd.merge(df_star, df_starid_specid, on='sdss_star_id')

In [ ]:
df_star_merged.head()

In [ ]:
df_star_merged = pd.merge(df_star_merged, df_spectra, on=['spec_id','filter'])

In [ ]:
df_star_merged.head(40)

In [ ]:
df_star_merged.set_index(['sdss_star_id', 'filter'], inplace = True)

In [ ]:
df_star_merged.head()

In [ ]:
# Each element has been observed in how many bands?
count_bands = df_star_merged.groupby(level=0).count()

In [ ]:
count_bands.head(20)

In [ ]:
df_star_merged.groupby(level=1)['flux_err'].mean().head(10)

<a id=functions></a>
### More functions
- Looping a dataframe (iterrows):

<https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iterrows.html>

- sort method:

<https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html>

- sample method:

<https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sample.html>

- Reshape dataframes (pivot, stack, unstack):

<http://nikgrozev.com/2015/07/01/reshaping-in-pandas-pivot-pivot-table-stack-and-unstack-explained-with-pictures/>

- Data cleaning:
    
    - check for missing values (isnull): <https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.isnull.html>
    - drop missing values (dropna): <https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html>
    - fill the missing values with other values (fillna): <https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.fillna.html>
    - replace values with different values (replace): <https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.replace.html>

## Some general ideas to get home:

- Do not loop a dataframe!

- Try to work by chunks; create functions that work with chunks

- Work with standard formats and "already implemented" functions

<a id=caveats></a>
### Caveats and technicalities

### [Floating point limitations](<https://docs.python.org/2/tutorial/floatingpoint.html>):

- Be careful with exact comparisons!

In [ ]:
# e.g.: the decimal value 0.1 cannot be represented exactly as a base 2 fraction
(0.1 + 0.2) == 0.3

In [ ]:
(0.1 + 0.2) - 0.3

### FITS files

- [fitsio](<https://pypi.python.org/pypi/fitsio/>)

- And working by chunks

In [ ]:
import fitsio

In [ ]:
filename = '../resources/galaxy_sample.fits'

In [ ]:
fits=fitsio.FITS(filename)

In [ ]:
data = fits[1]

In [ ]:
# Number of rows
data.get_nrows()

In [ ]:
# chunk size
gal_chunk = 300000

In [ ]:
# e.g.to create the ranges!
import math
niter = int(math.ceil(data.get_nrows() / float(gal_chunk)))

for i in range(niter):
    s = i*gal_chunk
    f = min((i+1)*gal_chunk, data.get_nrows())
    chunk = data[s:f]
    print (i)
    print (type(chunk))
    print (chunk.dtype)
    df_chunk = pd.DataFrame(chunk)
    print (type(df_chunk))
    print (df_chunk.dtypes)
    df_chunk = df_chunk.set_index('unique_gal_id')
    print (df_chunk.head())

#### [.values](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.values.html) DataFrame attribute 

- Some scipy functions do not allow to use pandas dataframe as arguments and therefore it is useful to use the values atribute, which is the numpy representation of NDFrame

- The dtype will be a lower-common-denominator dtype (implicit upcasting); that is to say if the dtypes (even of numeric types) are mixed, the one that accommodates all will be chosen. Use this with care if you are not dealing with the blocks.

#### View vs. Copy

<https://pandas.pydata.org/pandas-docs/stable/indexing.html#returning-a-view-versus-a-copy>

#### Wrong input example:
- .dat

- Look at the file using e.g. *head* bash command

- Note that there are more than one space, and if you do *tail filename*, different number of "spaces"

In [ ]:
bad_filename = '../resources/steps.flagship.dat'

In [ ]:
df_bad = pd.read_csv(bad_filename)
df_bad.head()

In [ ]:
df_bad =  pd.read_csv(bad_filename, sep = ' ')

- Necessary to "modify" the file in order to convert it into a standard csv file, e.g.:

```
cat steps.flagship.dat | tr -s " " | sed 's/^ *//g' > steps.flagship.ssv
```

In [ ]:
filename = '../resources/steps.flagship.ssv'

In [ ]:
columns = ['step_num', 'r_min', 'r_max', 'r_med', 'a_med', 'z_med']

In [ ]:
df = pd.read_csv(filename, sep = ' ', header = None, names = columns, index_col = 'step_num')

In [ ]:
df.head()